/* Credit: https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
html {
  interpolate-size: allow-keywords;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}



@font-face {
    font-family: 'Norse Bold';
    src: url('resources/Norse-Bold.otf');
}

body {
    height: 100vh;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: inherit
}

.banner {
    width: 30vw;
    background-image: url('resources/leaf-banner.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.logo-container {
    display: flex;
    background-color: rgb(0, 0, 0, 0.5);
    margin-top: 200px;
    padding: 5px 0px;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
}

.logo-container > img {
    height: 150px;
}

.logo-text {
    font-family: 'Norse Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.logo-credit {
    color: white;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.sign-up-form {
    flex: auto;
    max-width: 70vw;
    padding: 200px 0px 0px 50px;
    background-color: #f9fafb;
}

.form-controls {
  background-color: white;
}

.input-row {
  display: flex;
}

.input-container {
  display: flex;
  flex-direction: column;
}

